<?xml version='1.0' encoding='windows-1252'?>

<?if $(sys.BUILDARCH) = x64 or $(sys.BUILDARCH) = arm64 ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else ?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?endif ?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'
     xmlns:util='http://schemas.microsoft.com/wix/UtilExtension'>

    <Product
        Id='*'
        Name='HyperXTools'
        UpgradeCode='78A26E3C-D586-42B6-87E4-FF79882C063A'
        Manufacturer='LuMa'
        Language='1033'
        Codepage='1252'
        Version='$(var.Version)'>

        <Package Id='*'
            Keywords='Installer'
            Description='System tray app for HyperX Cloud Alpha Wireless headset control via HID'
            Manufacturer='LuMa'
            InstallerVersion='450'
            Languages='1033'
            Compressed='yes'
            InstallScope='perMachine'
            SummaryCodepage='1252'
            />

        <MajorUpgrade
            Schedule='afterInstallInitialize'
            DowngradeErrorMessage='A newer version of [ProductName] is already installed. Setup will now exit.'/>

        <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1'/>
        <Property Id='DiskPrompt' Value='HyperXTools Installation'/>

        <!-- Close running instance before install/upgrade/uninstall -->
        <util:CloseApplication
            Id='CloseHyperXTools'
            Target='hyperxtools.exe'
            RebootPrompt='no'
            CloseMessage='yes'
            Description='HyperXTools must be closed before installation can proceed.'
            />

        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='$(var.PlatformProgramFilesFolder)' Name='PFiles'>
                <Directory Id='APPLICATIONFOLDER' Name='HyperXTools'>
                    <Component Id='MainExecutable' Guid='*'>
                        <File
                            Id='HyperXToolsExe'
                            Name='hyperxtools.exe'
                            DiskId='1'
                            Source='$(var.CargoTargetBinDir)\hyperxtools.exe'
                            KeyPath='yes'/>
                    </Component>
                </Directory>
            </Directory>

            <Directory Id='ProgramMenuFolder'>
                <Directory Id='ApplicationProgramsFolder' Name='HyperXTools'>
                    <Component Id='StartMenuShortcut' Guid='*'>
                        <Shortcut
                            Id='ApplicationStartMenuShortcut'
                            Name='HyperXTools'
                            Description='HyperX Cloud Alpha Wireless headset control'
                            Target='[APPLICATIONFOLDER]hyperxtools.exe'
                            WorkingDirectory='APPLICATIONFOLDER'/>
                        <RemoveFolder Id='CleanUpShortcutFolder' On='uninstall'/>
                        <RegistryValue
                            Root='HKCU'
                            Key='Software\HyperXTools'
                            Name='installed'
                            Type='integer'
                            Value='1'
                            KeyPath='yes'/>
                    </Component>
                </Directory>
            </Directory>
        </Directory>

        <Feature
            Id='MainFeature'
            Title='HyperXTools'
            Description='Installs HyperXTools system tray application.'
            Level='1'
            ConfigurableDirectory='APPLICATIONFOLDER'
            AllowAdvertise='no'
            Absent='disallow'>
            <ComponentRef Id='MainExecutable'/>
            <ComponentRef Id='StartMenuShortcut'/>
        </Feature>

        <SetProperty Id='ARPINSTALLLOCATION' Value='[APPLICATIONFOLDER]' After='CostFinalize'/>

        <Property Id='ARPHELPLINK' Value='https://github.com/LuMa2003/HyperXTools'/>

        <!-- Launch after install checkbox on the exit dialog -->
        <Property Id='WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT' Value='Launch HyperXTools'/>
        <Property Id='WIXUI_EXITDIALOGOPTIONALCHECKBOX' Value='1'/>
        <Property Id='WixShellExecTarget' Value='[#HyperXToolsExe]'/>
        <CustomAction Id='LaunchApplication'
            BinaryKey='WixCA'
            DllEntry='WixShellExec'
            Impersonate='yes'/>

        <UI>
            <UIRef Id='WixUI_InstallDir'/>

            <!-- Navigation: WelcomeDlg → InstallDirDlg → VerifyReadyDlg -->
            <Publish Dialog='WelcomeDlg' Control='Next' Event='NewDialog' Value='InstallDirDlg' Order='99'>1</Publish>
            <Publish Dialog='InstallDirDlg' Control='Back' Event='NewDialog' Value='WelcomeDlg' Order='99'>1</Publish>
            <Publish Dialog='InstallDirDlg' Control='Next' Event='NewDialog' Value='VerifyReadyDlg' Order='99'>1</Publish>
            <Publish Dialog='VerifyReadyDlg' Control='Back' Event='NewDialog' Value='InstallDirDlg' Order='99'>1</Publish>

            <Publish Dialog='ExitDialog' Control='Finish' Event='DoAction' Value='LaunchApplication'>WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
        </UI>

        <Property Id='WIXUI_INSTALLDIR' Value='APPLICATIONFOLDER'/>

    </Product>

</Wix>
