<?xml version='1.0' encoding='windows-1252'?>

<?if $(sys.BUILDARCH) = x64 or $(sys.BUILDARCH) = arm64 ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else ?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?endif ?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'
     xmlns:util='http://schemas.microsoft.com/wix/UtilExtension'>

    <Product
        Id='*'
        Name='HyperXTools'
        UpgradeCode='78A26E3C-D586-42B6-87E4-FF79882C063A'
        Manufacturer='Lucas Mårtensson'
        Language='1033'
        Codepage='1252'
        Version='$(var.Version)'>

        <Package Id='*'
            Keywords='Installer'
            Description='System tray app for HyperX Cloud Alpha Wireless headset control via HID'
            Manufacturer='Lucas Mårtensson'
            InstallerVersion='450'
            Languages='1033'
            Compressed='yes'
            InstallScope='perMachine'
            SummaryCodepage='1252'
            />

        <MajorUpgrade
            Schedule='afterInstallInitialize'
            DowngradeErrorMessage='A newer version of [ProductName] is already installed. Setup will now exit.'/>

        <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1'/>
        <Property Id='DiskPrompt' Value='HyperXTools Installation'/>

        <!-- Close running instance before install/upgrade/uninstall -->
        <util:CloseApplication
            Id='CloseHyperXTools'
            Target='hyperxtools.exe'
            RebootPrompt='no'
            CloseMessage='yes'
            Description='HyperXTools must be closed before installation can proceed.'
            />

        <!-- Mic switching option: default checked -->
        <Property Id='ENABLE_MIC_SWITCHING' Value='1'/>

        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='$(var.PlatformProgramFilesFolder)' Name='PFiles'>
                <Directory Id='APPLICATIONFOLDER' Name='HyperXTools'>
                    <Component Id='MainExecutable' Guid='*'>
                        <File
                            Id='HyperXToolsExe'
                            Name='hyperxtools.exe'
                            DiskId='1'
                            Source='$(var.CargoTargetBinDir)\hyperxtools.exe'
                            KeyPath='yes'/>
                    </Component>
                    <Component Id='MicSwitchingRegistry' Guid='*'>
                        <Condition>ENABLE_MIC_SWITCHING = "1"</Condition>
                        <RegistryValue
                            Root='HKCU'
                            Key='Software\HyperXTools'
                            Name='mic_switching'
                            Type='integer'
                            Value='1'
                            KeyPath='yes'/>
                    </Component>
                </Directory>
            </Directory>

            <Directory Id='ProgramMenuFolder'>
                <Directory Id='ApplicationProgramsFolder' Name='HyperXTools'>
                    <Component Id='StartMenuShortcut' Guid='*'>
                        <Shortcut
                            Id='ApplicationStartMenuShortcut'
                            Name='HyperXTools'
                            Description='HyperX Cloud Alpha Wireless headset control'
                            Target='[APPLICATIONFOLDER]hyperxtools.exe'
                            WorkingDirectory='APPLICATIONFOLDER'/>
                        <RemoveFolder Id='CleanUpShortcutFolder' On='uninstall'/>
                        <RegistryValue
                            Root='HKCU'
                            Key='Software\HyperXTools'
                            Name='installed'
                            Type='integer'
                            Value='1'
                            KeyPath='yes'/>
                    </Component>
                </Directory>
            </Directory>
        </Directory>

        <Feature
            Id='MainFeature'
            Title='HyperXTools'
            Description='Installs HyperXTools system tray application.'
            Level='1'
            ConfigurableDirectory='APPLICATIONFOLDER'
            AllowAdvertise='no'
            Absent='disallow'>
            <ComponentRef Id='MainExecutable'/>
            <ComponentRef Id='StartMenuShortcut'/>
            <ComponentRef Id='MicSwitchingRegistry'/>
        </Feature>

        <SetProperty Id='ARPINSTALLLOCATION' Value='[APPLICATIONFOLDER]' After='CostFinalize'/>

        <Property Id='ARPHELPLINK' Value='https://github.com/LuMa2003/HyperXTools'/>

        <!-- Launch after install checkbox on the exit dialog -->
        <Property Id='WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT' Value='Launch HyperXTools'/>
        <Property Id='WIXUI_EXITDIALOGOPTIONALCHECKBOX' Value='1'/>
        <Property Id='WixShellExecTarget' Value='[#HyperXToolsExe]'/>
        <CustomAction Id='LaunchApplication'
            BinaryKey='WixCA'
            DllEntry='WixShellExec'
            Impersonate='yes'/>

        <UI>
            <UIRef Id='WixUI_InstallDir'/>

            <!-- MicSwitchDlg: checkbox to enable mic switching -->
            <Dialog Id='MicSwitchDlg' Width='370' Height='270' Title='!(loc.InstallDirDlg_Title)'>
                <Control Id='BannerBitmap' Type='Bitmap' X='0' Y='0' Width='370' Height='44' TabSkip='no' Text='!(loc.InstallDirDlgBannerBitmap)'/>
                <Control Id='BannerLine' Type='Line' X='0' Y='44' Width='370' Height='0'/>
                <Control Id='BottomLine' Type='Line' X='0' Y='234' Width='370' Height='0'/>

                <Control Id='Title' Type='Text' X='15' Y='6' Width='200' Height='15' Transparent='yes' NoPrefix='yes' Text='{\WixUI_Font_Title}Microphone Switching'/>
                <Control Id='Description' Type='Text' X='25' Y='23' Width='280' Height='15' Transparent='yes' NoPrefix='yes' Text='Configure automatic microphone switching.'/>

                <Control Id='EnableCheckBox' Type='CheckBox' X='25' Y='70' Width='330' Height='18' Property='ENABLE_MIC_SWITCHING' CheckBoxValue='1' Text='Enable automatic microphone switching'/>

                <Control Id='Explanation' Type='Text' X='25' Y='100' Width='320' Height='40' NoPrefix='yes' Text='When your headset mic is muted, Windows switches to your main microphone. When unmuted, it switches back to the HyperX mic.'/>

                <Control Id='Note' Type='Text' X='25' Y='150' Width='320' Height='25' NoPrefix='yes' Text='After installation, you will be prompted to select your main microphone.'/>

                <Control Id='Back' Type='PushButton' X='180' Y='243' Width='56' Height='17' Text='!(loc.WixUIBack)'/>
                <Control Id='Next' Type='PushButton' X='236' Y='243' Width='56' Height='17' Default='yes' Text='!(loc.WixUINext)'/>
                <Control Id='Cancel' Type='PushButton' X='304' Y='243' Width='56' Height='17' Cancel='yes' Text='!(loc.WixUICancel)'>
                    <Publish Event='SpawnDialog' Value='CancelDlg'>1</Publish>
                </Control>
            </Dialog>

            <!-- Navigation: WelcomeDlg → InstallDirDlg → MicSwitchDlg → VerifyReadyDlg -->
            <Publish Dialog='WelcomeDlg' Control='Next' Event='NewDialog' Value='InstallDirDlg' Order='99'>1</Publish>
            <Publish Dialog='InstallDirDlg' Control='Back' Event='NewDialog' Value='WelcomeDlg' Order='99'>1</Publish>
            <Publish Dialog='InstallDirDlg' Control='Next' Event='NewDialog' Value='MicSwitchDlg' Order='99'>1</Publish>
            <Publish Dialog='MicSwitchDlg' Control='Back' Event='NewDialog' Value='InstallDirDlg'>1</Publish>
            <Publish Dialog='MicSwitchDlg' Control='Next' Event='NewDialog' Value='VerifyReadyDlg'>1</Publish>
            <Publish Dialog='VerifyReadyDlg' Control='Back' Event='NewDialog' Value='MicSwitchDlg' Order='99'>1</Publish>

            <Publish Dialog='ExitDialog' Control='Finish' Event='DoAction' Value='LaunchApplication'>WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
        </UI>

        <Property Id='WIXUI_INSTALLDIR' Value='APPLICATIONFOLDER'/>
        <WixVariable Id='WixUILicenseRtf' Value='wix\License.rtf'/>

    </Product>

</Wix>
